<div class="product-card">
  <div class="product-image-container">
    <img src="{{producto.imagen}}" alt="Product Image" class="product-image">
  </div>
  <div class="product-info">
    <h2 class="product-title">{{producto.titulo}}</h2>
    <p class="product-description">{{producto.descripcion}}</p>
    <p class="product-price">${{producto.precio}}</p>
    <p class="product-quantity">Cantidad:{{item.cantidad}}</p>
  </div>
  <div class="product-button-container">
    <button class="product-button" (click)="eliminarDelCarrito()">Eliminar</button>
  </div>
</div>