<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Crear Usuarios con Firebase</title>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-auth.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {

        apiKey: "AIzaSyDNMpqAyYEptbHS-HUfy85ofqZAIb6cJ6Y",
        authDomain: "compucompras-cf98d.firebaseapp.com",
        projectId: "compucompras-cf98d",
        storageBucket: "compucompras-cf98d.appspot.com",
        messagingSenderId: "818418003730",
        appId: "1:818418003730:web:b85e4c6916839e5bb38dcb"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>

  <style>
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    input {
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid gray;
    }
    button {
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: #4CAF50;
      color: white;
      font-size: 16px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Crear Usuarios con Firebase</h1>

  <form>
    <input type="name" placeholder="Name" id="name">
    <input type="email" placeholder="Email" id="email">
    <input type="password" placeholder="Password" id="password">
    <button type="submit">Crear Cuenta</button>
  </form>

  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', (event) => {
      event.preventDefault();

      const name = document.getElementById("name").value;
      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;

      firebase.auth().createUserWithEmailAndPassword(email, password)
      .then((userCredential) => {
            return userCredential.user.updateProfile({
              displayName: name
            });
          })
      .then((userCredential) => {
          // La cuenta fue creada exitosamente, redirigir al usuario a la página principal
          alert('Usuario registrado correctamente.');
          window.location.href = "index.html";
        })
        .catch((error) => {
          // Hubo un error durante la creación de la cuenta, mostrar un mensaje de error al usuario
          const errorMessage = error.message;
          alert(errorMessage);
        });
    });
  </script>
</body>
</html>
