
{%extends 'base_f.html'%}
{% load static %}

	{% block content %}
	<!-- Boton Chat -->
	<div class="chat-div">
		<button>
			<img class="img-chat" src="https://img.icons8.com/ios/50/chat.png" alt="chat"/>
		</button>
	</div>
	
	<div class="banner">
		<a href="https://www.example.com " target="_blank">
			<img id="carousel" src="" alt="">
		</a> 
	</div>
	<main>
		<h2>Computadoras destacadas</h2>
		<section id="destacados" class="d-flex justify-content-around">
			{%for computadora in productos%}
			<div class="computadora align-items-center">
				<img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}">
				<h3>{{computadora.titulo}}</h3>
				<p>{{computadora.descripcion}}</p>
				<p>Precio: ${{computadora.precio}}</p>
				<button>Añadir al carrito</button>
			</div>
			{%endfor%}

			
		</section>
		<section id="contacto">
			<h2>Contacto</h2>
			<p>Puedes contactarnos a través de nuestro correo electrónico <a href="mailto:ventas@computadoras.com">ventas@computadoras.com</a> o a través de nuestro número de teléfono 555-555-5555.</p>
		</section>
	</main>
	
	
	{% endblock %}