{% extends 'base_f.html' %}
{% block content %}
<main>
	<h2>Novedades</h2>
    <section class="d-flex justify-content-around">
		<div class="computadora">
			<img src="imagenes/computadora5.jpg" alt="Computadora 5">
			<h3>Computadora 5</h3>
			<p>Descripción de la computadora 5</p>
			<p>Precio: $1499</p>
			<button>Añadir al carrito</button>
		</div>
		<div class="computadora">
			<img src="imagenes/computadora6.jpg" alt="Computadora 6">
			<h3>Computadora 6</h3>
			<p>Descripción de la computadora 6</p>
			<p>Precio: $1699</p>
			<button>Añadir al carrito</button>
		</div>
		<div class="computadora">
			<img src="imagenes/computadora5.jpg" alt="Computadora 5">
			<h3>Computadora 5</h3>
			<p>Descripción de la computadora 5</p>
			<p>Precio: $1499</p>
			<button>Añadir al carrito</button>
		</div>
		<div class="computadora">
			<img src="imagenes/computadora6.jpg" alt="Computadora 6">
			<h3>Computadora 6</h3>
			<p>Descripción de la computadora 6</p>
			<p>Precio: $1699</p>
			<button>Añadir al carrito</button>
		</div>
	</section>
    <section id="contacto">
		<h2>Contacto</h2>
		<p>Puedes contactarnos a través de nuestro correo electrónico <a href="mailto:ventas@computadoras.com">ventas@computadoras.com</a> o a través de nuestro número de teléfono 555-555-5555.</p>
	</section>
    </main>
{% endblock %}