{% extends 'base_f.html' %}
{% block content %}

    <main>
		<h2>Ofertas especiales</h2>
        <section id="novedades" class="d-flex justify-content-around">
			{%for computadora in productos%}
			{% if computadora.categoria == "oferta" %}
			<div class="computadora align-items-center">
				<img src="{{ computadora.imagen.url }}" alt="{{ computadora.titulo }}">
				<h3>{{computadora.titulo}}</h3>
				<p>{{computadora.descripcion}}</p>
				<p>Precio: ${{computadora.precio}}</p>
				<button>Añadir al carrito</button>
			</div>
			{% endif %}
			{%endfor%}
			
		</section>
        <section id="contacto">
            <h2>Contacto</h2>
            <p>Puedes contactarnos a través de nuestro correo electrónico <a href="mailto:ventas@computadoras.com">ventas@computadoras.com</a> o a través de nuestro número de teléfono 555-555-5555.</p>
        </section>
    </main>
{% endblock %}