{% extends 'base_f.html' %}

{% block chat %}
    {# No incluir el bloque del chat en esta plantilla #}
{% endblock %}

{% block content %}
    <main>
        <div class="chat-div">
            <section id="chat" class="chat-container">
                <ul id="messages" style="display: block;">
                    {% for mensaje in todos_los_mensajes %}

                        <li>
                            <div style="font-weight: bold;">Enviado por {{ mensaje.usuario.username }}:</div>
                            <div>{{ mensaje.mensaje }}</div>
                        </li>

                    {% endfor %}
                
                </ul>
                <form id="message-form">
                    <input type="text" id="message" placeholder="Type your message...">
                    <div class="btn-send-message-div">
                        <button class="btn-send-message" type="submit">Send</button>
                    </div>
                </form>
            </section>
        </div>
    </main>

    <script type = 'text/javascript'>
         let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if(data.type === 'chat'){
                
                const item = document.createElement('li');
                const username = data.username || 'Usuario Anónimo';

                // Crear elementos para el nombre de usuario y el mensaje
                const userElement = document.createElement('div');
                userElement.textContent = `Enviado por ${username}: `;
                userElement.style.fontWeight = 'bold';

                const messageElement = document.createElement('div');
                messageElement.textContent = data.message;

                // Adjuntar elementos al li
                item.appendChild(userElement);
                item.appendChild(messageElement);

                // Agregar el li a la lista de mensajes
                document.querySelector('#messages').appendChild(item);
            }
        }

        let form = document.getElementById('message-form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message':message
            }))
            form.reset()
        })

    </script>
{% endblock %}
